<!DOCTYPE html>
<html>
<title>KPI App</title>

<body>

    <h1 class="header1">Great day to track your career progress</h1>
    <h1 class="header2">Career KPI Benefits </h1>

        <ol class="list">
            <li>With your help, we make your resume easier to update when you're ready to explore new opportunities.</li>

            <li>Tracking your outcomes and accomplishments puts you in a better position to ask for a raise or promotion when you're ready.</li>
            <li>Together we make it easier for you to provide accurate information when performance appraisal times come around.</li>
            <li>Tracking your career KPIs helps build your online brand as a professional in your field.</li>
            <li>We got your back in the app if you encounter disagreement about your performance in the future. </li>
            <li>We know that focusing on wins produces momentum, so celebrating career wins and giving yourself a pat on the back helps!</li>
        </ol>
    

</body>

</html>
