.header1 {
    color:darkred;
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    
}

.header2 {
    color: brown;
    font-family: veranad;
    padding: 100px 20px 20px;
}

.list li {
    font-size: 20px;
    color: brown;
    font-family: cursive;
    padding: 5px 0px;
}